/*
  Brendan Lane Portfolio - CSS
*/

@import 'normalize';
@import 'fonts';

/* DEFAULT VARIABLES */

/* Colours */
$var-color-red:#AE5F6B;
$var-color-blue:#37667B;
$var-color-dark-grey:#414042;
$var-color-light-grey:#58595B;
$var-color-lightest-grey:#A7A9AC;
$var-color-white:#FFF;



/* Shortened code for transitions */
@mixin transition($transition...) {
    -webkit-transition: $transition;
    transition:         $transition;
}

/* Shortened code for transforms */
@mixin transform($transform...) {
    -webkit-transform: $transform;
    transform:         $transform;
}




/* GENERAL RULES */

*, *::before, *::after { /* Apply the border-box model */
  box-sizing:border-box;
}

body {
  font-family: 'Merriweather-Light', Georgia, serif;
  font-size:1.25em;
  color:$var-color-light-grey;
  padding-bottom:5em;
}

.wrapper { /* Wrap this around content if it should max at a certain length and not reach the edges of the window */
  max-width:40em;
  margin:0 auto;
  padding:0 2em;
}

img { /* All images should be at max width and shrink down if larger than the screen width */
  max-width:100%;
  height:auto;
  display:block;
}

/* Selection - make the highlighted text white and the background orange */

::-moz-selection { /* Code for Firefox */
    color:white;
    background:$var-color-red;
}

::selection {
    color:white; 
    background:$var-color-red;
}


figure { /* By default, remove margins on figures */
  margin:0;
}

/* GENERAL RULES */







/* MAIN NAVIGATION */

nav {
  padding:1em 0;
  background-color: $var-color-white;

    &:after { /* Clear the floats underneath the navigation bar */
      content: "";
      display: table;
      clear: both;
    }

    ul { /* The ul houses the Work, About, and logo */
      margin:0;
      text-align:center;
      padding: 0;
    }

    li {
      list-style-type:none;
      display:inline-block;
      text-transform:uppercase;
      font-size:0.85em;
      font-family:'HalisGR-Regular', Arial, sans-serif;
      vertical-align:middle;

        &:first-of-type {
          margin:0 4em 0 0;
        }

        &:last-of-type {
          margin:0 0 0 4em;
        }
    }

    img { /* The logo image in the nav bar */
      margin:0;
      opacity:1;
      @include transition(opacity 0.3s ease-out);

        &:hover, &:focus { /* Have the logo image become translucent on hover*/
          opacity:0.5;
          @include transition(opacity 0.3s ease-out);
        }
    }

    .nav-text {
      color: $var-color-dark-grey;
      padding:0 0.25em;
      border-bottom:0.15em solid $var-color-dark-grey;

        &:hover, &:focus {
          background-color:$var-color-dark-grey;
        }
    }

}

/* MAIN NAVIGATION */






/* HEADER ELEMENTS */

header {
  margin-bottom:5em;
}

#h1-title {
  text-transform:uppercase;
}

#img-title {
  margin:2em auto 0 auto;
  padding:0 2em;
}

/* HEADER ELEMENTS */






/* FOOTER ELEMENTS */

footer {
  border-top:0.1em solid $var-color-lightest-grey;
  margin-top:5em;
}

/* FOOTER ELEMENTS */








/* TEXT ELEMENTS */

/* Headings */

h1, h2 {
  color:$var-color-dark-grey;
  text-align:center;
}

h1 {
  font-size:2.25em;
  margin-top:1.25em;
  margin-bottom:0;
  line-height:0.65em;
  font-family: 'HalisGR-Bold', Arial, sans-serif;
}

h2 {
  font-size:1.25em;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: 'OpenSans-Light', Arial, sans-serif;
}

h3 {
  font-size:1.5em;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: 'OpenSans-Semibold-Italic', Arial, sans-serif;
}

h4 {
  font-size:1.125em;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
}

/* Text */

p {
  font-family: 'Merriweather-Light';
  font-size:0.85em;
  color: $var-color-light-grey;
  line-height:1.75em;
}

strong {
  font-family: 'Merriweather-Bold';
}
  
strong em, em strong {
  font-family: 'Merriweather-Bold-Italic';
}

em {
  font-family: 'Merriweather-Light-Italic';
}



footer p {
  font-size:0.75em;
  font-family:'HalisGR-Regular';
  text-align:center;
  line-height:1em;
}

/* TEXT ELEMENTS */






/* INTERACTIVE ELEMENTS */

a {
  text-decoration:none;
  @include transition(all 0.3s ease-out);

    &:hover, &:focus {
      color: $var-color-white;
      @include transition(all 0.3s ease-out);
    }
}

.main p a {
  color: $var-color-red;
  padding:0 0.25em;
  border-bottom:0.1em solid $var-color-red;
  
    &:hover, &:focus {
      color: $var-color-white;
      background-color:$var-color-red;
    }
}

footer a {
  color: $var-color-blue;

    &:hover, &:focus {
      background-color: $var-color-blue;
    }
}

/* INTERACTIVE ELEMENTS */




/* GRID SYSTEM */

.container:after { /* Clears the floats after a grid row */
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] { /* By default (mobile-first) columns are stacked */
  margin:0;
  width:100%;
}

/* GRID SYSTEM */





/* PROJECT PREVIEWS */

/* PROJECTS */

.project-preview { /* The boxes on the homepage that link to the projects */
  text-align:center;
  opacity:1;
  position:relative;

    .project-info { /* The textbox inside the project-preview box that contains the project's information */
      position:absolute;
      background-color: rgba(51, 51, 51, 0);
      top:0;
      left:0;
      right:0;
      bottom:0;
      @include transition(all 0.3s ease-out);
    }

    &:hover .project-info, &:focus .project-info { /* Cause the project-info box to become opaque when the preview box is hovered over */
      background-color: rgba(51, 51, 51, 0.8);
      @include transition(all 0.3s ease-out);
    }

    .project-name { /* The name of the project */
      text-transform:uppercase;
      font-family:'HalisGR-Regular', Arial, sans-serif;
      font-size:1.25em;
      margin-top:35%;
      color: rgba(255, 255, 255, 0);
      @include transition(all 0.3s ease-out);
    }

    &:hover .project-name, &:focus .project-name { /* Text needs to also move when the box expands */
      color: rgba(255, 255, 255, 1);
      @include transition(all 0.3s ease-out);
    }

}

/* PROJECT PREVIEWS */





/* WITHIN THE PROECT */

.project-image {
  margin:2em 0;
}

/* WITHIN THE PROECT */





/* MEDIA QUERIES */

@media (min-width:36.25em) { /* Media queries which take place once the screen is 36.25 em or larger */

  h1 {
    font-size:3.5em;
    margin-top:1em;
    line-height:0.85em;
  }

  h2 {
    font-size:1.5em;
  }

  h3 {
    font-size:2em;
  }

  h4 {
    font-size:1.25em;
  }

  nav li {
    &:first-of-type {
          margin:0 6em 0 0;
        }

        &:last-of-type {
          margin:0 0 0 6em;
        }
  }

  p {
    font-size:1em;
    line-height:1.5em;
  }

}


@media (min-width:40em) { /* Media queries which take place once the screen is 40em or larger */

  [class*='col-'] { /* Remove outside margins */
    float:left;
  }

  .col-1of2-sm {
    width:50%;
  }

}

@media (min-width:55em) { /* Media queries which take place once the screen is 55em or larger */

  .col-1of3 {
    width:33.33%; /* At a certain screen size, make the columns 33% */
  }

}

/* MEDIA QUERIES */